@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
}

/* @font-face {
    font-family: 'HurmeGeometricSans4';
    src: url("../fonts/HurmeGeometricSansNo.4/HurmeGeometricSans4-Thin.otf");
    font-weight: 200;
} */
@font-face {
    font-family: 'HurmeGeometricSans4';
    src: url("../fonts/HurmeGeometricSansNo.4/HurmeGeometricSans4-Light.otf");
    font-weight: 300;
}

/* @font-face {
    font-family: 'HurmeGeometricSans4';
    src: url("../fonts/HurmeGeometricSansNo.4/HurmeGeometricSans4.otf");
    font-weight: 400;
} */
@font-face {
    font-family: 'HurmeGeometricSans4';
    src: url("../fonts/HurmeGeometricSansNo.4/HurmeGeometricSans4-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: 'HurmeGeometricSans3';
    src: url("../fonts/HurmeGeometricSansNo.3/HurmeGeometricSans3-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: 'HurmeGeometricSans3';
    src: url("../fonts/HurmeGeometricSansNo.3/HurmeGeometricSans3.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'HurmeGeometricSans3';
    src: url("../fonts/HurmeGeometricSansNo.3/HurmeGeometricSans3-SemiBold.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'HurmeGeometricSans3';
    src: url("../fonts/HurmeGeometricSansNo.3/HurmeGeometricSans3-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: 'HurmeGeometricSans3';
    src: url("../fonts/HurmeGeometricSansNo.3/HurmeGeometricSans3-Black.otf");
    font-weight: 900;
}


@font-face {
    font-family: 'HurmeGeometricSans2';
    src: url("../fonts/HurmeGeometricSansNo.2/HurmeGeometricSans2-SemiBold.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'HurmeGeometricSans1';
    src: url("../fonts/HurmeGeometricSansNo.1//HurmeGeometricSans1-Light.otf");
    font-weight: 300;
}

.HurmeGeometricSans1 {
    font-family: 'HurmeGeometricSans1', sans-serif;
}

.HurmeGeometricSans2 {
    font-family: 'HurmeGeometricSans2', sans-serif;
}

.HurmeGeometricSans3 {
    font-family: 'HurmeGeometricSans3', sans-serif;
}

.HurmeGeometricSans4 {
    font-family: 'HurmeGeometricSans4', sans-serif;
}

body {
    color: #282828;
    position: relative;
    z-index: -110;
}

h1 {
    font-family: 'HurmeGeometricSans4';
    font-size: 5.2vw;
    font-weight: 300;
    line-height: 1.07;
    text-align: left;
    color: #282828;
}

h1 strong {
    font-weight: 700;
}

h2 {
    font-family: "HurmeGeometricSans2";
    font-size: 3.7vw;
    font-weight: 600;
    line-height: 1.2;
    color: #006ff9;
}

h3 {
    font-family: "HurmeGeometricSans3";
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.18;
    margin-bottom: 0.55em;
}

h5 {
    font-family: "HurmeGeometricSans3";
    font-size: 1.76vw;
    font-weight: bold;
    line-height: 0.88;
    color: #006ff9;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
}

ul {
    margin-bottom: 0;
}

.btn {
    font-family: "HurmeGeometricSans3";
    text-transform: uppercase;
    font-weight: 600;
    /* font-size: 12px; */
    /* padding: 9px 21px; */
    font-size: 0.65vw;
    padding: 0.5vw 1.4vw;
    min-width: 80px;
    letter-spacing: 1px;
    border-width: 2px;
    box-shadow: 0px 3px 10px #0000000F;
}

.btn-round {
    border-radius: 1.5vw !important;
    -webkit-border-radius: 1.5vw !important;
    -moz-border-radius: 1.5vw !important;
    -ms-border-radius: 1.5vw !important;
    -o-border-radius: 1.5vw !important;
}

.btn-primary {
    box-shadow: 0 4px 6px 0 rgba(0, 111, 249, 0.2);
    background-color: #006ff9;
}

section {
    /* padding: 70px 30px; */
    padding-left: 25px;
    padding-right: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    /* padding-top: 4.3vw;
    padding-bottom: 9.56vw; */
    padding-bottom: 10.4vw;
    padding-top: 10.4vw;
}

.indicator-true section {
    /* padding-left: 96.7px;
    padding-right: 96.7px; */
    padding-left: 7.5vw;
    padding-right: 7.5vw;
}

section>* {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.my-container {
    width: 100%;
    /* max-width:1416px; */
    max-width: 74vw;
    margin: auto;
    padding: 0px 15px;
}

/* navbar */
.main-navbar {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    /* padding: 0px 40px; */
    padding: 0vw 1vw;
    /* padding: 2.55vw 0vw; */
}

.main-navbar:hover {
    transform: translateY(0) !important;
    transition: all 0.8s ease;
}

.main-navbar.hide-navbar {
    transform: translateY(-100%);
    transition: all 0.8s ease;
}

.main-navbar.shadow-navbar {
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.nav-height {
    /* height: 111.6px; */
    height: 6.5vw;
}

.navbar-brand {
    display: inline-block;
    height: auto;
    width: auto;
}

.navbar-brand .nav-logo {
    width: 7.2vw;
    height: 2.75vw;
    margin-left: 1.2vw;
    cursor: pointer;
}



.main-navbar .nav a {
    font-family: "HurmeGeometricSans3";
    text-transform: uppercase;
    font-weight: bold;
    color: #282828;
    /* font-size: 11px; */
    /* padding: 0px 26px; */
    font-size: 0.8vw;
    padding: 0vw 1.8vw;

}

.main-navbar .nav a:hover {
    color: #006ff9;
}

@media (max-width:1500px) {
    .main-navbar .nav a {
        font-size: 1vw;
    }
}

.main-navbar .nav li.active a {
    color: #006ff9;
}

a.nav-link::after {
    content: attr(data-name);
    display: block;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: 0.4s;
}


a.nav-link:hover::after {
    opacity: 1;
    transform: translate(0%, -40%);
}

a.nav-link::before {
    content: attr(data-name);
    display: block;
    transform: translate(0%, 60%);
    transition: 0.4s;
}


a.nav-link:hover::before {
    opacity: 0;
    transform: translate(0%, -60%);
}

/* page indicator */
.page-indicator {
    text-align: center;
    position: fixed;
    margin-top: 1.2vw;
    /* top: 280px; */
    z-index: 1;
    display: none;
    left: 4.1vw;
    /* transform: translateY(calc(-50% - 6vw )); */
    /* left: 55px; */
    /* transform: translateX(125%); */
}

#down-slider .xslide .xslide-bg {
    width: 0px;
}

#down-slider .xslide .xslide-handle {
    background-color: #ffffff;
    opacity: 0;
    width: 0.75vw !important;
    height: 0.75vw !important;
    border: 0.1vw solid #1F2024;
    border-radius: 50%;
    transition: transform,opacity 0.3s;
    transform: scale(0.5);
    left: -0.34vw;
}

/* .hover{
    opacity: 1 !important;
    transform: scale(1.3) !important;
} */

#down-slider:hover .xslide-handle {
    opacity: 1 !important;
    transform: scale(1.3) !important;
    -webkit-transform: scale(1.3) !important;
    -moz-transform: scale(1.3) !important;
    -ms-transform: scale(1.3) !important;
    -o-transform: scale(1.3) !important;
}

.page-indicator .indicator {
    width: 1px;
    height: 7.4vw;
    background-color: #d8d8d8;
    margin: auto;
    position: relative;
    margin-top: -5px;
    cursor: pointer;
}

.page-indicator .indicator-progress {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: #231f20;
}

.page-indicator img {
    /* margin-top: 1.713vw; */
    /* margin-top: 3.29vw;
    cursor: pointer;
    width: 1.77vw; */
    margin-top: 2.5vw;
    cursor: pointer;
    width: 1.5vw;
}

.page-indicator i {
    font-size: 20px;
    color: #006ff9;
    font-size: 29px;
    line-height: 1;
    opacity: 0.8;
    margin-top: 1.713vw;
    cursor: pointer;
}

/* hello section */
.section-hello {
    /* min-height: calc(100vh - 110px); */
    padding-top: 4vw;
}

.indicator-true .section-hello {
    padding-right: 2.5vw;
}

.creativity #creative-heading {
    font-size: 4.1vw;
}

.creativity {
    padding-left: 0.77vw;
}

.text-hello {
    position: relative;
    font-family: 'Poppins';
    font-size: 15.5vw;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -1.16vw;
    color: #E3E3E3;
    line-height: 1.1;
    padding-top: 7%;
}

.text-hello::after {
    border: 1vw solid !important;
}

@media (min-width:1500px) {
    .text-hello {
        padding-top: 9%;
    }

    .page-indicator .indicator {
        width: 2px;
    }
}

/* .text-hello::after {
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
    border: 1rem solid;
    border-radius: 50%;
    margin-left: 15px;
} */

/* who we are */
/* .what-we-padding{
    padding-right: 5.6vw;
    padding-left: 4vw;
} */

.what-we-padding a{
    letter-spacing: 0;
    padding: 0.5vw 1.2vw;
}

.who-we-are {
    padding-top: 1vw;
    padding-bottom: 2.36vw;
}

.who-we-are .btn {
    border-radius: 19px;
    color: #006ff9;
    box-shadow: 0px 4px 10px #077BFF2E;
    background: linear-gradient(135deg, #0072FF73 -57%, rgba(255,255,255,1) 31%);
}


.who-we-are .btn-outline-light:hover {
    color: #006ff9 !important;
}

.wwa-right {
    padding: 1.6vw 1vw;
    font-family: 'HurmeGeometricSans1';
    font-weight: 300;

}

.wwa-right p {
    margin-bottom: 4%;
    font-family: HurmeGeometricSans3;
    font-size: 1.15vw;
    letter-spacing: 0;
    color: #39393F;
    font-weight: 400;
}


.wwa-right p span {
    font-size: inherit;
    display: inline;
    font-family: 'HurmeGeometricSans3';
    font-weight: 600;
}

.who-we-are .blue-logo {
    max-width: 15.1vw;
}

.wwa-right h3 {
    color: #006FF9;
    letter-spacing: 0;
}

/* what we do */
.wwd-section .container-fluid.wwd-padding {
    padding-right: 5.2vw;
    padding-left: 6.1vw;
}

.wwd-padding>h3{
    color: #006FF9;
}

.wwd-section {
    color: #39393f;
    overflow: hidden;
    /* padding-bottom: 160px; */
    /* padding-top: 115px; */
    padding-top: 8.4vw;
    padding-bottom: 11.8vw;
}

.wwd-card {
    max-width: 20.24vw;
    min-height: 3vw;
    margin: 0 auto;
    border-radius: 11.9px;
    /* box-shadow: 0 10px 30px 0 rgba(0, 99, 255, 0.11); */
    background-color: #ffffff;
    padding: 30px 36px;
    position: relative;
    font-family: "HurmeGeometricSans4";
    /* font-size: 41px; */
    font-size: 3vw;
    font-weight: 300;
    line-height: 1.1;
    color: #39393f;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.wwd-card-blue {
    box-shadow: 0px 10px 30px #0063FF1C;
}

.wwd-card-orange {
    box-shadow: 0px 10px 30px #FE6F611C;
}

.wwd-card-purple {
    box-shadow: 0px 10px 30px #4F25DD1C;
}

.wwd-card .text {
    position: relative;
    z-index: 3;
}

.wwd-card:hover .text {
    color: #fff;
}

.wwd-card .shape {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    /* border-radius: 11.9px; */
    border-radius: 0.55vw;
    overflow: hidden;
}

.wwd-card .shape::before {
    content: '';
    /* width: 6.3px; */
    width: 0.44vw;
    object-fit: contain;
    /* background-color: #0a8eed; */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 0.2s ease;
}

.wwd-card .shape-blue::before {
    background-color: #006ff9;
}

.wwd-card .shape-orange::before {
    background-color: #FE6F61;
}

.wwd-card .shape-purple::before {
    background-color: #4F25DD;
}

.wwd-card:hover .shape::before {
    width: 100%;
}

.wwd-card .shape::after {
    content: '';
    position: absolute;
    /* background-image: url('../img/wave-big.svg'), url('../img/wave-small.svg');/ */
    background-position: right bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    right: 0;
    bottom: 0;
    /* width: 535.7px; */
    width: 20vw;
    /* height: 264.5px; */
    height: 14vw;
    transform: translate(100%, 100%);
    /* transition: all 0.3s ease-in-out; */
}

.wwd-card .shape-blue::after {
    background-image: url('../img/wave-big.svg'), url('../img/wave-small.svg');
    /* background-size: 366px, 218px; */
    background-size: 19vw, 11.3vw;
}

.wwd-card .shape-orange::after {
    background-image: url('../img/wave-big-orange.svg'), url('../img/wave-small-orange.svg');
    /* background-size: 366px, 218px;    */
    background-size: 19vw, 11.3vw;
}

.wwd-card .shape-purple::after {
    background-image: url('../img/wave-big-purple.svg'), url('../img/wave-small-purple.svg');
    /* background-size: 366px, 218px;    */
    background-size: 19vw, 11.3vw;
}

.wwd-card:hover .shape::before {
    width: 100%;
}

.wwd-card:hover .shape::after {
    transform: translate(0%, 0%);
    transition-delay: 0.01s;
    transition: all 0.3s ease-in-out;
}

.wwd-section .container-fluid {
    padding: 0 34px;
    /* max-width: 1060px; */
    max-width: 100%;
}


.wwd-row .wwd-card {
    padding-top: 2.2vw;
    padding-left: 2.6vw;
    padding-bottom: 2.2vw;
    padding-right: 2.6vw;
    height: 20.5vw;
    width: 23vw;
}

.has-circle::before,
.has-semi-circle::before {
    content: '';
    position: absolute;
    background-size: cover;
    z-index: 0;
    display: block;
    box-sizing: content-box;
    border-radius: 50%;
    /* border: 5em solid #f5f5f5;
    width: 5em;
    height: 5em; */
    border: 6em solid #F1F1F1;
    width: 12em;
    height: 12em;
    font-size: 13px;
    font-size: 0.68vw;
    pointer-events: none;
}

.has-circle::before {
    top: 100%;
    right: 100%;
    transform: translate(50%, -50%) rotate(-45deg);
    border-right-color: transparent;
}

.has-semi-circle::before {
    bottom: 100%;
    left: 100%;
    transform: translate(-50%, 50%) rotate(135deg);
    border-right-color: transparent;
    border-top-color: transparent;
}

/* @media (min-width:1775px){
    .wwd-card {
         margin-left:50px;
    }
} */
/* work section */
.work-section {
    background-color: #0036d4;
    color: #fff;
}

.work-wrapper {
    position: relative;
    padding-left: 0.77vw;
}

.work-list {
    z-index: 1;
    color: #ffffff;
    font-family: "HurmeGeometricSans3";
    font-size: 3.52vw;
    line-height: 1;
}

.work-list li {
    opacity: 0.3;
    position: relative;
    margin-bottom: 10px;
    left: 0;
    transform: scale(0.9);
    font-weight: 400;
    transition: transform 0.42s ease, left 0.42s ease-out, font-weight 0.2s ease, opacity 0.3s ease-out;
    transform-origin: center left;
    cursor: pointer;
    z-index: 1;
}

.work-list li a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.link-hover{
    opacity: 1 !important;
    left: 25px !important;
    transform: scale(1) !important;
    font-weight: 600 !important;
}

.work-list small {
    display: block;
    font-size: 1.538vw;
    font-weight: 300;
    line-height: 1.48;
}

.work-item__image {
    overflow: hidden;
    position: absolute;
    right: 0;
    object-fit: contain;
    top: 50%;
    /* width: 50vw; */
    width: 44.3vw;
    height: 29.2vw;

    transform: translate3d(0%, -50%, 0);
    -webkit-transform: translate3d(0%, -50%, 0);
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: all 0ms .25s;
}

.work-item__image.is-active {
    z-index: 0;
    top: 50%;
    transition: none;
    opacity: 0.95;
}

.work-item__image .mask {
    flex: 1;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: scale(.85);
    transform: scale(.85);
    transition: opacity .25s ease, -webkit-transform 1.5s cubic-bezier(.23, 1, .32, 1);
    transition: opacity .25s ease, transform 1.5s cubic-bezier(.23, 1, .32, 1), -webkit-transform 1.5s cubic-bezier(.23, 1, .32, 1);
    transition: opacity .25s ease, transform 1.5s cubic-bezier(.23, 1, .32, 1);
}

.work-item__image.is-active .mask {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.work-item__image .image-container {
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: -webkit-transform 0ms .25s;
    transition: transform 0ms .25s;
    transition: transform 0ms .25s, -webkit-transform 0ms .25s;
}

.work-item__image.is-active .image-container {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform 1.5s cubic-bezier(.23, 1, .32, 1);
    transition: transform 1.5s cubic-bezier(.23, 1, .32, 1);
    transition: transform 1.5s cubic-bezier(.23, 1, .32, 1), -webkit-transform 1.5s cubic-bezier(.23, 1, .32, 1);
}

/* contact */
.contact-section {
    min-height: 720px;
    font-family: "HurmeGeometricSans3";
}

.say-hi {
    /* font-size: 40px; */
    font-size: 2.9vw;
    font-weight: 900;
    line-height: 1.25;
    color: #006ff9;
}

.contact-subtitle {
    /* font-size: 21px; */
    font-size: 1.54vw;
    font-weight: 300;
    color: #282828;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    border-color: #dc3545 !important;
}

.invalid-tooltip{
    top: -42px;
    font-size: 12px;
    line-height: 1.2;
}

.contact-form .form-control {
    background-color: #f5f5f5;
    border-radius: 4.5px;
    color: #39393f;
    font-size: 13px;
    font-weight: 300;
    /* border: none; */
    border: 1px solid #f5f5f5;
    padding: 0.12vw 1vw;
}
.contact-form textarea.form-control {
    -moz-padding-start: 0.5vw 1vw;
    padding: 0.4vw 1vw;
}

.contact-form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(191, 191, 191, 0.25);
}

.contact-form .form-group>textarea {
    height: auto;
}

.contact-form .form-group {
    margin-bottom: 0.9rem;
}

.contact-img img {
    width: 30.5vw;
    margin-bottom: 7vw;
}

.contact-form-btn a:hover{
    text-decoration: none;
}

.contact-form-btn a {
    line-height: 1;
    border-bottom: 1px solid;
    color: #282828;
    display: inline-block;
    font-size: 1.46vw;
    font-weight: 600;
}

.contact-form-btn button {
    float: right;
}

.contact-form-btn p {
    font-size: 1.15vw;
}

/* footer */
.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #1f2024;
    font-family: "HurmeGeometricSans3";
    font-size: 1.14vw;
    font-weight: 300;
    line-height: 1.8;
    color: #ffffff;
    padding: 0 10vw;
}

.contact-footer{
    letter-spacing: 1.1px;
    font-weight: 600;
    font-size: 1.45vw;
}

.footer-logo-box {
    position: relative;
    display: inline-block;
}


@media (max-width:1500px) {
    .main-footer {
        font-size: 1.2vw;
        line-height: 1.7;
    }
}

.main-footer .text-muted {
    color: #bbb !important;
}

.main-footer .height {
    min-height: 23.5vw;
}

/* about babber */
.banner-section {
    min-height: 38.4vw;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top center; */
    padding-bottom: 10px;
    /* background-image: url('download.jpg'); */
    background-attachment: fixed;
    background-position-y: 0;
    padding-left: 2.7vw;
    position: relative;
    overflow: hidden;

}

.text-banner {
    font-family: "HurmeGeometricSans3";
    font-size: 9.5vw;
    font-weight: 900;
    line-height: 1.3;
    color: #ffffff;
}

/* about info */
.about-info {
    font-family: 'HurmeGeometricSans3';
    font-size: 1.45vw;
    font-weight: 300;
    line-height: 1.48;
    padding-bottom: 8.2vw;
}

.about-box {
    padding-top: 4.2vw;
    padding-left: 2.85vw;
    padding-right: 3.2vw;
}
.about-box img{
    width: 21vw;
    height: 18.8vw;
}

.about-box>div:first-child{
    /* margin-top: -66px; */
    margin-top: -2.7vw;
}

.about-box p {
    font-size: 1.14vw;
    line-height: 1.6;
    text-align: justify;
    opacity: 0.9;
    color: #282828;
    font-weight: 400;
}

.about-box-text>div{
    line-height: 1.15;
}

.about-box-text{
    padding-left: 3vw;
}

/* .about-info b {
    font-weight: 600;
} */

.grow-heading {
    /* margin-bottom: 3.5vw !important; */
    font-size: 3.13vw;
    color: #006FF9;
    font-weight: 600;
}

.about-us {
    font-size: 1.4vw;
}

.about-us p {
    font-size: inherit;
    margin-bottom: 2.7vw;
}

.about-us b {
    font-size: inherit;
}

.heading-black {
    font-family: "HurmeGeometricSans3";
    /* font-size: 21px; */
    font-weight: bold;
    line-height: 1.29;
    position: relative;
    font-size: 1.54vw;
}

.heading-black::before {
    content: '';
    display: block;
    border-top: 1px solid;
    max-width: 230px;
    margin-bottom: 2px;
}

/* team section about page*/
.team {
    padding-top: 4vw;
    position: relative;
    padding-bottom: 3.45vw;
}

.team .container-fluid {
    padding: 0px 7.18vw;
}

.team-text {
    position: relative;
    text-align: left;
}

.team-text span {
    font-family:HurmeGeometricSans3 ;
    position: absolute;
    top: 49%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 8.5vw;
    letter-spacing: 1.1vw;
    color: #F1F1F1;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 900;
}
.team-box{
    margin: 0vw 2.56vw;
}
.team-box>div {
    width: 18.3vw;
    padding: 2.4vw 1.34vw;
    transition: all .3s;
    /* transform: scale(1); */
}

.team-box>div:hover {
    background-color: rgb(227, 227, 227, 0.25);
}

.team-box>div:hover .round-img-box {
    box-shadow: 0px 8px 30px #00000047;
    /* transform: scale(1.1); */
}

.team-box .round-img-box {
    height: 13.65vw;
    width: 13.6vw;
    overflow: hidden;
    border-radius: 100%;
    border: 0.2vw solid white;
    margin: auto;
    /* background-color: black; */
    background-size: cover;
    box-shadow: 0px 8px 30px #00000017;
    transition: all .3s;
}

.team-box .founder-box {
    width: 13.6vw;
    padding-top: 2.6vw;
    margin: auto;
}

.team-box .founder-box h5 {
    font-family: HurmeGeometricSans3;
    /* font-size: 2.082vw; */
    font-size: 1.67vw;
    color: #282828;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 0.84vw;
}

.team-box .founder-box h6 {
    font-family: HurmeGeometricSans3;
    font-size: 0.73vw;
    color: #006FF9;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.11vw;
}

.team-box .founder-box p {
    font-family: HurmeGeometricSans3;
    font-size: 0.93vw;
    color: #282828;
    letter-spacing: 0.075vw;
    font-weight: 600;
    opacity: .8;
    line-height: 1.4;
    padding-top: 1.7vw;
    padding-bottom: 0.4vw;
}

.team-box .founder-box a {
    font-family: HurmeGeometricSans3;
    text-decoration: none;
    font-size: 1.1vw;
    letter-spacing: 0.2vw;
    color: #282828;
    text-transform: uppercase;
    opacity: 0.5;
    padding-right: 0.35vw;
}

.team-box .founder-box a:hover {
    color: #1178F9;
    opacity: 1;
}

.team::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 19.4vw;
    background-color: #006ff9;
    top: 0;
    left: 45.5%;
}

/* contact now about page */
.contact-now {
    padding-top: 3.64vw;
    padding-bottom: 12.5vw;
}

.contact-now .container-fluid {
    padding-left: 3.4vw;
    padding-right: 3vw;
}

.contact-now-box h4 {
    font-family: HurmeGeometricSans3;
    font-size: 2.33vw;
    text-align: left;
    font-weight: 600;
    color: #282828;
    opacity: 1;
}

.contact-now-box a {
    font-family: HurmeGeometricSans3;
    /* pointer-events: none; */
    font-size: 1.56vw;
    letter-spacing: 0.39vw;
    color: #006FF9;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 700;
    position: relative;
    text-decoration: none;
}

.contact-now-box a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 3.9vw;
    background-color: #006FF9;
    left: -4.9vw;
    top: 52%;
}

/* footer */
.footer-logo {
    max-width: 8.3vw;
    /* -webkit-width: 8.3vw; */
    width: 100%;
    height: auto;
}

.white-footer-logo {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    max-width: 8.3vw;
}

.footer-logo-box:hover .white-footer-logo {
    opacity: 1;
}

.footer-height {
    pointer-events: none;
    /* z-index: -11; */
    position: relative;
    /* background: red; */
}

.form-button{
    padding: 0.6vw 1.9vw;
}
/* project details */
section.project-detail {
    padding-top: 3vw;
}

.project-btn a {
    font-family: HurmeGeometricSans3;
    text-decoration: none;
    font-size: 1.56vw;
    color: #EBEBEB;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 900;
}

.project-heading span {
    font-family: "HurmeGeometricSans3";
    color: #006ff9;
    font-weight: 600;
    line-height: 1;
    font-size: 4.03vw;
    /* padding: 0 7.3vw; */
}

.project-heading small {
    display: block;
    color: #282828;
    font-weight: 400;
    line-height: 1.21;
    font-size: 2.05vw;
}

.project-heading small::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-top: 1px solid;
    width: 4.76vw;
    margin-right: 12.5px;
}

.footer-text h5 {
    /* margin-bottom: 2.08vw; */
    font-size: 1.83vw;
    margin-bottom: 1.4rem;
}

/* all projects project pages */
.all-projects {
    padding-bottom: 7.72vw;
    padding-top: 8.7vw;
}
.all-projects-box>div{
    padding: 0vw 4vw;
}

.all-projects-box-border {
    border-left: 2px solid #EBEBEB;
    border-right: 2px solid #EBEBEB;
}

.all-projects-box h4 {
    font-family: HurmeGeometricSans3;
    font-size: 1.57vw;
    color: #D7D7D9;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 0.81vw;
    padding-top: 0.8vw;
}

.all-projects-box a {
    font-family: HurmeGeometricSans3;
    text-decoration: none;
    font-size: 3.12vw;
    color: #1F2024;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
}

.all-projects-box a:hover {
    color: #006FF9;
}

/* mouse-move */

.mouse-move {
    pointer-events: none;
    position: fixed;
    width: 6px;
    height: 6px;
    background-color: #000000;
    transform-origin: left;
    transform: translate(-2px, -10px) rotate(45deg);
    -moz-transform: translate(-2px, -7px) rotate(45deg);
    -ms-transform: translate(-2px, -7px) rotate(45deg);
    -o-transform: translate(-2px, -7px) rotate(45deg);
    -webkit-transform: translate(-2px, -7px) rotate(45deg);
}

/* body-wrapper */

.body-wrapper {
    background-color: #fff;
    z-index: 1;
}


/* media */

@media(max-width: 768px) {

    /* .wwd-row .wwd-card {
        min-height: 150px;
        min-width: 180px;
    } */
    .navbar-brand {
        line-height: 1;
        padding-top: 0;
    }
}

@media(min-width: 768px) {
    .col-md-about-left {
        max-width: 30.75vw;
    }
}

@media(min-width: 1650px) {
    /* .page-indicator {
        top: 27vh;
    }  */

    .wwd-row .wwd-card {
        min-width: 20.84vw;
        min-height: 19vw;
    }
}

@media(min-width: 1367px) {}


/* do-project  css work do pages */
.do-section{
    padding-top: 7vw;
    display: none;
}
.block{
    display: block;
}
.sticky-part{
    position: sticky;
    top: 17vw;
}
.do-name-links{
    font-family: HurmeGeometricSans3;
    text-decoration: none;
    writing-mode: tb-rl;
    color: #CECECE;
    text-transform: uppercase;
    font-size: 0.94vw;
    transform: rotate(-180deg);
    font-weight: 300;
    padding-top: 0.7vw;
    transition: all 0.3s;
}
.do-name-pl-color{
    color: #4F25DD;
}
.do-name-og-color{
    color: #FE6F61;
}
.do-name-bl-color{
    color:#006FF9;
}
.do-name h3 span{
    font-weight: 700;
}
.do-name-same-links{
    font-size: 1.35vw;
    text-transform: uppercase;
    font-weight: 600;
    pointer-events: none;
}

.do-name-bl-link-hover:hover{
    color:#006FF9;
}
.do-name-og-link-hover:hover{
    color: #FE6F61;    
}
.do-name-pl-link-hover:hover{
    color: #4F25DD;    
}
.do-section .container-fluid {
    padding-left: 2.3vw;
    padding-right: 6.55vw;
}
.do-name-box{
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
}
.do-name h5{
    font-size: 2.08vw;
    color: #3E3E3E;
    font-weight: 600;
    opacity: 0.5;
    margin-bottom: 0.5vw;
}
.do-name h3{
    font-size: 5.67vw;
    font-weight: 300;
    line-height: 1.1;
}



.do-box {
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    /* box-shadow: 0px 10px 30px #0063FF1C; */
    background-color: rgba(0, 0, 0, 0.03);
}
.do-box-content{
    padding-bottom: 4.9vw;
    position: relative;
}
.do-box-content::after{
    content: '';
    position: absolute;
    height: 0.05vw;
    width: 5vw;
    background-color: #aaa;
    bottom: 0;
}
.do-box-content h4{
    font-family:HurmeGeometricSans3 ;
    font-size: 1.67vw;
    color: #39393F;
    font-weight: 400;
    text-align: left;
    padding-bottom: 1.9vw;
}
.do-box-content p{
    font-family: 'HurmeGeometricSans3';
    font-size: 1.146vw;
    color: #39393F;
    font-weight: 300;
    max-width: 32vw;
}
.do-box-content p span{
    font-weight: 600;
}

.do-list-box{
    padding-top: 3.5vw;
}
.do-list-box h3{
    font-size: 3.65vw;
    color: #3E3E3E;
    font-weight: 600;
    opacity: 0.5;
    padding-bottom: 1.16vw;
}
.do-list-box li{
    font-family: HurmeGeometricSans3;
    font-weight: 600;
    font-size: 40px;
    font-size: 2.08vw;
    color: #39393F;
    padding-bottom: 1.56vw;
    padding-left: 3.8vw;
    position: relative;
}
.do-list-box li::before{
    content: '';
    position: absolute;
    top: 1.25vw;
    left: 1.1vw;
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 100%;
    background-color: #4F25DD;
}
.do-list-box li::after{
    content: '';
    position: absolute;
    width: 0.1vw;
    height: 4vw;
    background-color: #39393F;
    left: 1.54vw;
    top: 2vw;
}
.do-list-box li:last-child::after{
    content: '';
    height: 0vw;;
}
/* @media (min-width: 576px) {
    .my-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .my-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .my-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .my-container {
        max-width: 1416px;
    }
} */




/* projects page cover height */
.cover{
    OVERFLOW: HIDDEN;
}
/* hide inputfield arrow */

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] { 
    -moz-appearance: textfield;
  }
  /* toster */
  .bootoast{
    background-color: #4caf50;
  }
  .bootoast-alert-content{
    color: #fff;
  }
  .close>span{
      color: #fff;
  }
  .alert-danger{
      background-color: #e51c23;
  }

  .carousel-fade .carousel-item{
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
}
.project-heading{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    from {display: none;}
    to {display: block;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {display: none;}
    to {display: block;}
  }


  .loding{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100%;
      background: violet;
      z-index: 11;
      padding-top: 20%;
      transition: all 0.6s ease-in-out;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;     
}
/* .loding-icon{
    display: none;
} */
